/* Importação das fontes utilizadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Uso de variaveis pra definir as cores e fontes */
:root {
    --fontTitle1: 'Montserrat', sans-serif;
    --fontTitle2: 'DM Serif Text', sans-serif;
    --fontMessage: 'Chakra Petch', sans-serif;
    --corbotao: #2E8B57;
    --cor1: #1C1C1C;
    --cor2: #fff;
    --cor3: #FFD700;
    --corfechar: #4F4F4F;
    --corgrids: #87CEEB;
}
body {
    overflow-x: hidden;
}
/* Estilização Barra de navegação */
header {
    width: 100%;
    padding: 20px 8%;
    background-color: var(--cor1);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo {
    font-size: 24px;
    color: var(--cor2);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: 600;
}

.nav-item a:hover {
    color: var(--cor3);
}

.nav-item.active a {
    color: var(--cor2);
    border-bottom: 3px solid var(--cor2);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px){
    #nav_list {
        display: none;
    }
    #mobile_btn {
        display: block;
        border: none;
        color: var(--cor2);
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}
/* Estilização Banner */

section.slider{
    margin: 0 auto;
    padding: 0 !important;
    width: 100%;
    /* height: 550px; */
    overflow: hidden;
    padding-bottom: 20px;
}

.slider-content {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 33.3333%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: 1s;
    background-color: #87CEEB;
}

.slide-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 45%;
    display: flex;
    justify-content: center;
}

.manual-btn, .nav-auto div {
    border: 1px solid var(--corgrids);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--corgrids);
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: var(--corgrids);
}

#radio1:checked ~ .active-slide{
    margin-left: 0%;
}
#radio2:checked ~ .active-slide{
    margin-left: -33.3333%;
}
#radio3:checked ~ .active-slide{
    margin-left: -66.6666%;
}

/* Estilização Sobre Nós */
.main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#sobre {
    padding-top: 30px;
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

/* .container_sobre {
    border: 2x solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
} */

.container_sobre{
    border: 2x solid red;
    display: flex;
    flex-direction: row;
}

.img_sobre {
    padding: 10px;
    width: 50%;
    max-height: 500px;
    border-radius: 10px;
    /* background-image: url(./Img/empresa.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img_sobre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
#text_container > h1 {
    font-family: var(--fontTitle2);
}
.button-desing {
    width: 100%;
    border: none;
    padding: 10px;
    font-family: var(--fontMessage);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--corbotao);
    color: var(--cor2);
    border-radius: 10px;
    transition: 0.3s ease;
}

.button-desing:hover {
    background-color: var(--corgrids);
}
 /* Estilização Quem Somos */
#quem_somos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 10px;
    min-height: 600px;
    margin-bottom: 50px;
}

#quem_somos > h3 {
    font-family: var(--fontTitle);
    font-weight: 700;
}

#id_somos {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.qsomos_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

.card {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: justify;
    padding: 10px;
    width: 30%;
}

.card_content {
    width: 100%;
    /* max-height: 440px; */
    height: 320px; /* Altura inicial para ocultar o excesso de texto */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura */
    position: relative;
    transition: height 0.3s ease;
    padding-bottom: 10px;
}
.card_content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, var(--corgrids));
}
.card_content h4 {
    text-align: center;
    font-family: var(--fontMessage);
}
.btn_somos {
    padding-top: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    color: var(--cor2);
    font-family: var(--fontMessage);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--corbotao);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

.btn_somos:hover {
    background-color: var(--corgrids);
}

.card.ativar .card_content {
    height: auto;
}
.card.ativar .card_content::before {
    visibility: hidden;
}

/* Layout para dispositivos com telas menores */
@media screen and (max-width: 1170px) {
    .qsomos_container {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .card {
        width: 80%; /* Ajusta a largura do card para 80% da tela */
        height: 30%;
    }
}

/* Estilização Contato */
.contacto {
    width: 100%;
}

.banner-contato {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 300px;
    background-image: url(./Img/contato.webp);
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
}

.banner-contato  > h2 {
    font-family: var(--fontTitle);
    font-weight: 700;
    padding: 20px 20px;
}

.content_cont {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.container_social > h3 {
    font-weight: 700;
    border-bottom: 3px solid var(--corgrids);
}

.container_itens_social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.fa-brands {
    font-size: 50px;
    cursor: pointer;
}

.itens_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    size: 50px;
}

/* Estilização Footer */
.container_footer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: var(--cor1);
    padding-top: 10px;
}

.container_footer > h3 {
    color: var(--cor2);
    font-weight: 700;
}

.container_footer_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 15px 0;
    color: var(--cor2);
}

.container_footer_cards > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.container_footer_cards > ul > h4 {
    font-size: 18px;
}

.container_footer_cards > ul > li > a {
    font-size: 18px;
    color: var(--cor2);
    text-decoration: none;
}